@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
    line-height: 16px;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

@media (min-width: 615px) {
    body {
        display: none;
    }
}

/*breakpoint 614px*/
@media (max-width: 614px) {
    /*login page*/
    .login-page {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
    }

    .login-page > img {
       width: 130px;
       height: 92px;
       margin-top: 72px;
       margin-bottom: 94px;
    }

    .login-page input {
        width: 261px;
        height: 54px;  
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #000000;        
        border: 1px solid #D7D7D7;
        border-radius: 4px;
        outline: none;
        text-align: center;
    }

    .login-page input::placeholder {
        color: #aeaeae;
        text-align: center;
    }

    .login-page > div {
        width: 109px;
        height: 45px;

        color: #696969;
        background-color: #e7e7e7;
        border-radius: 9px;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    /*loading page*/
    .loading-page {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        
    }

    .logo {
        width: 130px;
        height: 92px;
        margin-top: 72px;
        margin-bottom: 94px;
    }

    .gif {
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
    }

    .loading-page > a {
        font-size: 18px;
        font-weight: 400;
    }


    /*header*/
    .header {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 22px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
        background-color: #ffffff;   
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .header > ion-icon {
        width: 45px;
        height: 45px;        
    }

    .header > img {
        width: 75px;
        height: 53px;        
    }


    /*main*/
    .main {
        width: 100%;
        height: auto;
        margin-top: 80px;
        padding-top: 26px;
        padding-bottom: 80px;
        background-color: #f3f3f3;
    }    
        
    .status-msg, 
    .normal-msg, 
    .private-msg {
        padding: 10px;
        margin-bottom: 4px;
        border-radius: 2px;
    }

    .normal-msg {
        background-color: #ffffff;
    }

    .status-msg {
        background-color: #dcdcdc;
    }

    .private-msg {
        background-color: #ffdede;
    }

    .msg-time {
        font-weight: 400;
        color: #aaaaaa;
        margin-right: 4px;
    }

    .name {
        font-weight: 700;
    }

    
    /*sidebar*/
    .modal {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: flex-end;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .sidebar {
        width: 69%;
        height: 100%;
        font-size: 16px;
        line-height: 20px;
        background-color: #ffffff;
    }
    
    .chooseContacts,
    .chooseVisibility {
        width: 100%;
        height: 84px;
        padding: 0 43px;
        display: flex;
        text-align: center;
        align-items: center;
    }

    .chooseVisibility {
        height: 66px;
        justify-content: center;
    }
  
    .contact-options,
    .visibility-options {
        height: 37px;
        font-weight: 400;
        display: flex;
        align-items: center;
    }

    .contact-options > ion-icon {
        font-size: 25px;
        margin-right: 7px;
        margin-left: 17px;
    }

    .visibility-options > ion-icon {
        font-size: 22px;
        margin-right: 7px;
        margin-left: 17px;
    }

    h1 {
        font-weight: 700;
    }

    .check {
        width: 14px;
        height: 12px;
        position: fixed;
        right: 27px;
        opacity: 0; 
    }

    .check-selected {
        opacity: 1;
    }

    .back-to-main {
        width: 40px;
        height: 40px;
        font-size: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

    
    /*footer*/
    .footer {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 22px;
        box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    .footer input {
        width: 100%;
        height: 50px;  
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #000000;
        border: none;
        outline: none;
    }

    .footer input::placeholder {
        color: #000000;
        font-style: italic;
    }

    .footer ion-icon {
        width: 26px;
        height: 26px; 
        margin-left: 22px; 
    }


    /*js interaction*/
    .hide {
        display: none;
    }    
}